<?php
$this->headTitle('New Post');
$this->mainMenu()->setActiveItemId('home');
$this->pageBreadcrumbs()->setItems([
    'Home'=>$this->url('home'),
    'Add Post'=>$this->url('posts', ['action'=>'add'])
]);
$form = $this->form;
$this->form->get('title')->setAttributes([
    'class'=>'form-control',
    'placeholder'=>'Enter post title here'
]);
$this->form->get('content')->setAttributes([
    'class'=>'form-control',
    'placeholder'=>'Type content here',
    'rows'=>6
]);
$this->form->get('tags')->setAttributes([
    'class'=>'form-control',
    'placeholder'=>'comma, separated, list, of, tags'
]);
$this->form->get('status')->setAttributes([
    'class'=>'form-control'
]);
$this->form->get('submit')->setAttributes(['class'=>'btn btn-primary']);
$this->form->prepare();
?>

<h1>Add New Post</h1>

<p>
    Please fill out the following form and click the <i>Create</i> button.
</p>

<div class="row">
    <div class="col-md-6">
        <?= $this->form()->openTag($form); ?>

        <div class="form-group">
            <?= $this->formLabel($this->form->get('title')); ?>
            <?= $this->formElement($this->form->get('title')); ?>
            <?= $this->formElementErrors($this->form->get('title')); ?>
        </div>

        <div class="form-group">
            <?= $this->formLabel($this->form->get('content')); ?>
            <?= $this->formElement($this->form->get('content')); ?>
            <?= $this->formElementErrors($this->form->get('content')); ?>
        </div>

        <div class="form-group">
            <?= $this->formLabel($this->form->get('tags')); ?>
            <?= $this->formElement($this->form->get('tags')); ?>
            <?= $this->formElementErrors($this->form->get('tags')); ?>
            <p class="help-block">Separate tags with comma.</p>
        </div>

        <div class="form-group">
            <?= $this->formLabel($this->form->get('status')); ?>
            <?= $this->formElement($this->form->get('status')); ?>
            <?= $this->formElementErrors($this->form->get('status')); ?>
        </div>

        <?= $this->formElement($this->form->get('submit')); ?>

        <?= $this->form()->closeTag(); ?>
    </div>
</div>