<?php
$form = $this->form;
$this->form->get('author')->setAttributes([
    'class'=>'form-control',
    'placeholder'=>'Author\'s name'
]);
$this->form->get('comment')->setAttributes([
    'class'=>'form-control',
    'rows'=>6,
    'placeholder'=>'Text'
]);
$this->form->get('submit')->setAttributes(['class'=>'btn btn-primary']);
$this->form->prepare();
?>

<a href="
    <?= $this->url('application', ['action'=>'index']); ?>">
    &lt;&lt; Back to list of posts
</a>

<h1>
    <?= $this->escapeHtml($this->post->getTitle()); ?>
</h1>

<p class="comments-header">
    <?= $this->escapeHtml($this->postManager->getCommentCountStr($this->post)); ?> |
    <a href="#comment">
        Add new comment
    </a>
</p>

<p>
    Published: <?= $this->escapeHtml(date('jS \of F Y', strtotime($this->post->getDateCreated()))); ?>
    | Tags: <?= $this->escapeHtml($this->postManager->convertTagsToString($this->post)); ?>
</p>

<p>
    <?= $this->escapeHtml($this->post->getContent()); ?>
</p>

<h3><?= $this->escapeHtml($this->postManager->getCommentCountStr($this->post)); ?></h3>

<?php foreach ($this->post->getComments() as $comment): ?>

    <hr>

    <p>
        <?= $this->escapeHtml($comment->getAuthor()) ?> on
        <?= $this->escapeHtml($comment->getDateCreated()); ?>
    </p>

    <p>
        <?= $this->escapeHtml($comment->getContent()); ?>
    </p>

<?php endforeach; ?>

<hr>

<a name="comment"></a>
<h3>Leave Reply</h3>

<div class="row">
    <div class="col-md-8">
        <?= $this->form()->openTag($form); ?>

        <div class="form-group">
            <?= $this->formLabel($this->form->get('author')); ?>
            <?= $this->formElement($this->form->get('author')); ?>
            <?= $this->formElementErrors($this->form->get('author')); ?>
        </div>

        <div class="form-group">
            <?= $this->formLabel($this->form->get('comment')); ?>
            <?= $this->formElement($this->form->get('comment')); ?>
            <?= $this->formElementErrors($this->form->get('comment')); ?>
        </div>

        <?= $this->formElement($this->form->get('submit')); ?>

        <?= $this->form()->closeTag(); ?>
    </div>
</div>