<?php
$this->headTitle('About');
$this->mainMenu()->setActiveItemId('about');
$this->pageBreadcrumbs()->setItems([
    'Home'=>$this->url('home'),
    'About'=>$this->url('about'),
]);
?>

<h1>About</h1>

<p>
    Application name: <?= $this->escapeHtml($this->appName) ?>
</p>

<p>
    Application description: <?= $this->escapeHtml($this->appDescription) ?>
</p>


