<?php
$this->headTitle('Posts');
$this->mainMenu()->setActiveItemId('home');
$this->pageBreadcrumbs()->setItems([
'Home'=>$this->url('home')
]);
?>
<div>
<h1>Posts</h1>

<?php foreach($this->posts as $post): ?>

    <h3>
        <a href="#">
            <?= $this->escapeHtml($post->getTitle()); ?>
        </a>
    </h3>

    <p>
        <?= $this->escapeHtml($post->getContent()); ?>
    </p>

<?php endforeach; ?>
</div>
